html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'DM Serif Display', serif;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    background: #EDF3F8;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 165px;
}

.visually_hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

// Button submit

.btn--submit{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    background: #BA4270;
    &:hover{
        background: #DA6D97;
    }
    &:active{
        opacity: 0.5;
    }
}

// header{
//     position: relative;
//     background: url(../../img/header_bacground.png) no-repeat;
//     background-size: cover;
//     width: 100%;
//     height: 700px;
// }

footer{
    background: #1B262F;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 0 40px;
    }

    header{
        position: relative;
        background: url(.././img/header_bac_respon.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 330px;
    }
}


@media screen and (max-width: 375px) {
    .container{
        padding: 0 24px;
    }
}