.about{
    display: flex;
    margin-top: 75px;
    width: 100%;
    height: 480px;
    background: #1B262F;
    &_work{
        width: 35%;
        &_title{
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #FBFCFE;
        }
        &_desc{
            margin-top: 24px;
            margin-bottom: 35px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #FBFCFE;
            mix-blend-mode: normal;
            opacity: 0.7;
        }
        &_link{
            text-decoration: none;
            padding: 16px 32px 14px 32px;
            border: 1px solid black;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            border: 1px solid #FBFCFE;
            border-radius: 24px;
            &:hover{
                background-color: white;
                color: #000;
            }
            &:active{
                opacity: 0.5;
                background-color: #000;
                color: #FBFCFE;
            }
        }
    }
    &_logos{
        margin-top: -230px;
        margin-left: auto;
        width: 60%;
        &_img{
            margin-top: 54px;
            margin-left: 70px;
        }
    }
}

@media screen and (max-width: 768px) {
    .about{
        margin-top: 800px;
        height: 620px;
        text-align: center;
        &_work{
            margin-top: -80px;
            transform: translateY(210px);
            width: 100%;
            &_title{
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 24px;
            }
            &_desc{
                width: 60%;
                margin: auto;
                margin-bottom: 32px !important;
            }
        }
        &_logos{
            text-align: center;
            transform: translateY(-270px) translateX(-30px);
            margin: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width: 375px) {
    .about{
        margin-top: 500px;
        width: 100%;
        height: 750px;
        &_work{
            margin-bottom: -120px;
            &_title{
                width: 95%;
                font-size: 32px;
                line-height: 36px;
            }
            &_desc{
                width: 90%;
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 40px !important;
            }
        }
        &_logos{
            margin-left: 30px;
            width: 100%;
            &_img{
                margin-left: 30px;
            }
        }
        .about_logos--svg{
            margin-left: auto;
        }
    }
}