.hero{
    display: flex;
    &_item{
        margin-top: 152px;
        &_title{
            margin-top: 100px;
            margin-bottom: 23px;
            width: 75%;
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -0.553846px;
            color: #36536B;
        }
        &_email{
            border: none;
            outline: none;
            &_input{
                padding: 14px 256px 16px 27px;
                border: none;
                outline: none;
                background: #FBFCFE;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }
        &_btn{
            padding: 16px 24px 14px 26px;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            margin-left: auto;
            cursor: pointer;
            border: none;
            transform: translateX(-165px);
        }
        &_desc{
            margin-top: 16px;
            margin-left: 30px;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #6C8294;
            &_link{
                text-decoration: none;
                color: #384b5caf;
                font-weight: 700;
                font-size: 19px;
            }
        }
    }
    &_img{
        margin-top: 74px;
        width: 40%;
        height: 700px;
    }
}

@media screen and (max-width: 768px) {
    .hero{
        width: 100%;
        padding-top: 120px;
        text-align: center;
        margin-bottom: 100px !important;
        margin: auto;
        flex-direction:column-reverse;
        &_item{
            margin-top: 0px;
            &_title{
                margin: auto;
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 22px;
            }
            &_email{
                display: grid;
                &_input{
                    margin: auto;
                }
            }
            &_btn{
                transform: translateY(-50px) translateX(-110px);
            }
        }
        &_img{
            transform: translateX(30px);
            text-align: center;
            margin: auto;
            width: 60%;
            height: auto;
        }
    }
}


@media screen and (max-width: 375px) {
    .hero{
        &_item{
            &_title{
                width: 90%;
                font-size: 32px;
                line-height: 36px;
            }
            &_email{
                &_input{
                    margin-bottom: 20px;
                    padding-right: 30px;
                    width: 95%;
                }
            }
            &_btn{
                transform: none;
                width: 95%;
            }
        }
        &_img{
            transform: translateX(15px);
        }
    }
}