.payment{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
    &_items{
        justify-content: space-between;
        align-items: center;
        display: flex;
        &_img{
            &_UI{
                width: 58%;
                margin-right: -100px;  
            }
            &_dismis{
                margin-right: -100px;  
                width: 58%;
            }
        }
    }
    &_item{
        &_title{
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #36536B;
        }
        &_desc{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #6C8294;
        }
    }

    &_start{
        margin-top: 140px;
        justify-content: space-between;
        display: flex;
        &_personal{
            width: 27%;
            &_title{
                position: relative;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.138462px;
                color: #36536B;
                &::before{
                    content: "";
                    background: url(../../img/personal_before.png) no-repeat;
                    background-size: cover;
                    width: 106px;
                    height: 106px;
                    display: inline-block;
                    position: absolute;
                    transform: translateY(-140px) translateX(15px);
                }
            }
            &_desc{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.115385px;
                color: #6C8294;
            }
        }
        &_banking{
            width: 27%;
            &_title{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.138462px;
                color: #36536B;
                &::before{
                    content: "";
                    background: url(../../img/banking_before.png) no-repeat;
                    background-size: cover;
                    width: 106px;
                    height: 106px;
                    display: inline-block;
                    position: absolute;
                    transform: translateY(-140px) translateX(30px);
                }
            }
            &_desc{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.115385px;
                color: #6C8294;
            }
        }
        &_consumer{
            width: 27%;
            &_title{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.138462px;
                color: #36536B;
                &::before{
                    content: "";
                    background: url(../../img/consumer_before.png) no-repeat;
                    background-size: cover;
                    width: 106px;
                    height: 106px;
                    display: inline-block;
                    position: absolute;
                    transform: translateY(-140px) translateX(30px);
                }
            }
            &_desc{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.115385px;
                color: #6C8294;
            }
        }
    }

    &_ready{
        margin-top: 100px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        &_title{
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #36536B;
        }
        &_email{
            transform: translateX(165px);
            outline: none;
            border: none;
            &_input{
                padding: 14px 256px 16px 27px;
                border: none;
                outline: none;
                background: #FBFCFE;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }
        &_btn{
            padding: 16px 24px 14px 26px;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            margin-left: auto;
            cursor: pointer;
            border: none;
            transform: translateX(-165px);
        }
    }
}

@media screen and (max-width: 768px) {
    .payment{
        text-align: center;
        &_items{
            flex-direction: column-reverse;
        }
        &_start{
            &_personal{
                width: 30%;
            }
            &_banking{
                width: 28%;
            }
            &_consumer{
                width: 27%;
            }
        }
        &_ready{
            text-align: center;
            flex-direction: column;
            &_title{
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
            }
            &_email{
                transform: translateX(50px);
            }
        }
    }
}


@media screen and (max-width: 375px) {
    .payment{

        &_item{
            &_title{
                font-size: 36px;
                line-height: 36px;
            }
            &_desc{
                margin-top: 24px;
                margin-bottom: 250px;
                font-size: 15px;
                line-height: 28px;
            }
        }
        &_items{
            &_img{
                transform: translateX(-45px);
                &_UI{
                    width: 40%;
                    margin: auto;
                }
                &_dismis{
                    width: 40%;
                }
            }
        }

        &_start{
            transform: translateX(-15px);
            text-align: center;
            margin: auto;
            flex-direction: column;
            &_personal{
                transform: translateX(30px);
                width: 90%;
                margin-bottom: 200px;
            }
            &_banking{
                margin-bottom: 200px;
                width: 90%;
                transform: translateX(30px);
            }
            &_consumer{
                width: 90%;
                transform: translateX(30px);
            }
        }
        &_ready{
            transform: translateX(-10px);
            width: 100%;
            &_title{
                font-size: 32px;
                line-height: 36px;
                margin-bottom: 32px;
            }
            &_email{
                transform: translateX(15px);
                width: 84%;
                &_input{
                    padding-right: 30px;
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
            &_btn{
                transform: none;
                width: 100%;
            }
        }
    }
}